*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* code Olivier */

#presentation {
    background: linear-gradient(transparent, rgba(0, 0, 0, 1)), url('img/city-925223_1920.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* code Leo */


/* code Antoine */
section.main {
    height: 600px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1)), url('img/seaside-371229_1920.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.jumbo-box {
    margin-top: -7.5rem;
}

.card-box {
    margin-top: -9rem;
}

@media screen and (max-width: 770px) {
    section.main {
    height: 560px;
    background-position: right;
    background-size: auto;
    }

    .jumbo-box {
        margin-top: -5.5rem;
    }

    .card-box {
        margin-top: -5rem;
    }
}

@media screen and (max-width: 380px) {
    .jumbo-box {
        margin-top: -4rem;
    }
    
    .card-box {
        margin-top: 0;
    }
}