*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* code Olivier */

#presentation {
    background: linear-gradient(transparent, rgba(0, 0, 0, 1)), url('img/city-925223_1920.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ul-service {
    list-style-type: square;
}


/* code Leo */

.logos
{
    width: 75px;
    height: 75px;
}

.bordureBouton
{
    width: 200px;
    height: 55px;
    background-color: orange;
}


/* code Antoine */
section.main {
    height: 600px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1)), url('img/seaside-371229_1920.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.jumbo-box {
    margin-top: -7.5rem;
}

.card-box {
    margin-top: -9rem;
}

.card {
    border: none !important;
}

div.card:nth-child(1) {
    /* border-top-left-radius: .25rem !important; */
    border-top-right-radius: 0 !important;
}

div.card:nth-child(2) {
    border-radius: none !important;
}

div.card:nth-child(3) {
    border-top-left-radius: 0 !important;
}

.author-box {
    margin-right: 7rem;
}

#exampleInputEmail1 {
    height: 55px;
}

section.footer {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media screen and (max-width: 1030px) {
    section.main, #presentation {
        background-position: right;
        background-size: auto;
    }
}

@media screen and (max-width: 770px) {
    section.main {
    height: 560px;
    background-position: right;
    background-size: auto;
    }

    .jumbo-box {
        margin-top: -5.5rem;
    }

    .card-box {
        margin-top: -5rem;
    }

    #presentation {
        background-position: right;
        background-size: auto;
    }

    section.contact {
        height: 366px;
        font-size: small;
    }

    iframe {
        height: 283px;
        width: 205px;
    }

    .logos {
        height: 25px;
        width: 25px;
    }

    #exampleInputEmail1 {
        height: 32px;
        font-size: small;
    }

    div.bordureBouton:nth-child(1) {
        width: 108px;
        height: 32px;
    }

    div.bordureBouton:nth-child(1) > button:nth-child(1) {
        font-size: small;
        align-items: stretch;
    }
}

@media screen and (max-width: 380px) {
    .jumbo-box {
        margin-top: -4rem;
    }

    .card-box {
        margin-top: 0;
    }

    .card-body {
        text-align: center;
    }

    .text-card {
        font-size: 13px;
    }

    .navbar {
        background-color: rgba(107, 107, 112, 0.459) !important;
    }
}